<div class="formgroup" [formGroup]="form">
  <div [ngClass]="question.quizPosition !== 'left' ? 'left' : 'right'">
    <div class="description" [innerHtml]="question.quizDescription"></div>
  </div>
  <div [ngClass]="question.quizPosition === 'left' ? 'left' : 'right'">
    <div *ngFor='let opt of question.quizList'>
      <div class="controltype" [ngSwitch]="opt.controlType">
        <!-- radio -->
        <div class="radio-container" *ngSwitchCase="'radio'">
          <label *ngFor="let radioItem of opt.options">
            <span class="label-caption"> {{radioItem.label}}</span>

            <input [formControlName]="radioItem.name" [name]="radioItem.name" [id]="radioItem.value"
              [type]="opt.controlType" [value]="radioItem.value" [ngClass]="radioItem.content? 'has-content': ''">
            <div [innerHTML]="radioItem.content"></div>
          </label>
        </div>
        <!-- checkbox -->
        <div class="checkbox-container" *ngSwitchCase="'checkbox'">
          <div *ngFor="let checkboxItem of opt.options">
            <span class="label-caption"> {{checkboxItem.label}}</span>
            <input [formControlName]="checkboxItem.name" [name]="checkboxItem.name" [type]="opt.controlType"
              [ngClass]="checkboxItem.content? 'has-content': ''">
            <div [innerHTML]="checkboxItem.content"></div>
          </div>
        </div>
        <!-- input -->
        <div class="input-container" *ngSwitchCase="'textbox'">
          <label class="form-contoll--label" *ngSwitchCase="'textbox'">
            <span class="label-caption"></span>
            <input [formControlName]="opt.key" [id]="opt.key" [type]="opt.type">
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="errorMessage" *ngIf="!isValid">is required</div> -->
</div>

<!-- <div class='right'>
    <div *ngIf="question.right.description">
      <div class="description" [innerHtml]="question.right.description"></div>
    </div>
    <div *ngIf="question.right.quizList">
     {{ question.right.quizList | json}} 
 <div *ngFor='let opt of question.right.quizList'>
          {{opt.key | json}}
       <div class="controltype" [ngSwitch]="opt.controlType"> 
          {{opt.key | json}}
        <div  class="radio-container" *ngSwitchCase="'radio'">
            {{opt.key | json}}
          <label *ngFor="let radioItem of opt.options">
              {{opt.key | json}}
              {{radioItem | json}}
            <span class="label-caption"> {{radioItem.label}}</span>
            <input [formControlName]="opt.key" [name]="opt.key" [id]="radioItem.value"
              [type]="opt.controlType" [value]="radioItem.value">     
          </label>
    
        </div> 
      </div> -->



<!-- <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select> -->



<!-- <label class="form-contoll--label" *ngSwitchCase="'textbox'">
      <span class="label-caption"></span>
      <input [formControlName]="question.key" [id]="question.key" [type]="question.type">

    </label> -->